In [15]:
import pandas as pd
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score, classification_report, confusion_matrix

In [3]:
## load data
# groundTrueData -> Geovirus data with associated Country Code 
# GeocodedData -> desambiguated data 
#    * Sne detected in Geovirus corpus with spacy
#    * geocoded, and desambiguated
groundTrueData = pd.read_csv('../geocoded/Geovirusdata_reverse.csv')
GeocodedData = pd.read_csv('../geocoded/Geovidata_geocod_dsamb.csv')

In [22]:
#######ON REEL SNEs data (without using Spacy)
# groundTrueData = pd.read_csv('../geocoded/Geovirusdata_reverse.csv')
# GeocodedData = pd.read_csv('../geocoded/GeovirusdataTrueSne.csv')

In [4]:
len(groundTrueData)

1516

In [5]:
len(groundTrueData), len(GeocodedData)

(1516, 1419)

In [6]:
#
GeocodedData.rename(columns={'SNE Name': 'name'}, inplace=True)

In [9]:
### Delete rows without Country Code
df_groundTrueData = groundTrueData[groundTrueData['Cc'].notnull()]
df_GeocodedData = GeocodedData[GeocodedData['Country Code'].notnull()]

In [10]:
# df_GeocodedData = Geovirusdata_geo[Geovirusdata_geo['Country Code'].notnull()]

In [11]:
len(df_groundTrueData), len(df_GeocodedData)

(1504, 1419)

In [12]:
merged_df = pd.merge(df_groundTrueData, df_GeocodedData, on=['source', 'name'])

In [13]:
print(len(merged_df))
merged_df.head()

1115

,source,name,lat_x,lng_x,DocNo,geom,Cc,Unnamed: 0,lat_y,lng_y,Country Code,Type,Population
0,Philippines_is_culling_6500_hogs_after_Reston_...,Pandi,14.87,120.95,0,"14.87,120.95",PH,132,14.87462,120.96683,PH,A,89075
1,Philippines_is_culling_6500_hogs_after_Reston_...,Central Luzon,15.47,120.75,0,"15.47,120.75",PH,131,15.30714,120.79762,PH,A,10137737
2,Philippines_is_culling_6500_hogs_after_Reston_...,Bulacan,15.00,121.08,0,"15,121.08",PH,130,6.56306,125.41000,PH,P,0
3,Philippines_is_culling_6500_hogs_after_Reston_...,Bulacan,15.00,121.08,1,"15,121.08",PH,884,6.56306,125.41000,PH,P,0
4,Philippines_is_culling_6500_hogs_after_Reston_...,Manaoag,16.04,120.48,1,"16.04,120.48",PH,881,17.17233,121.76469,PH,P,0

In [16]:
# Evaluate desamb performance
print('F1_score :', f1_score(merged_df['Cc'], merged_df['Country Code'], average="macro"))
print('Precision :' ,precision_score(merged_df['Cc'], merged_df['Country Code'], average="macro"))
print('Recall :', recall_score(merged_df['Cc'], merged_df['Country Code'], average="macro"))

F1_score : 0.7452172132443341
Precision : 0.7737690235952323
Recall : 0.74400946916796

/home/rodrique/anaconda3/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1245: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/home/rodrique/anaconda3/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1245: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [18]:
noidentique = merged_df.loc[merged_df['Cc'] != merged_df['Country Code']]

In [19]:
noidentique

,source,name,lat_x,lng_x,DocNo,geom,Cc,Unnamed: 0,lat_y,lng_y,Country Code,Type,Population
50,Bird_Flu_kills_40th_Indonesian,Hong Kong,22.30,114.20,14,"22.3,114.2",CN,802,22.27832,114.17469,HK,P,7482500
65,China_and_Europe_face_new_avian_flu_outbreaks,Macedonia,41.60,21.70,18,"41.6,21.7",MK,453,41.31367,-81.50845,US,P,11686
89,First_Iraqi_case_of_Avian_Flu_reported,Cairo,30.04,31.23,24,"30.04,31.23",EG,579,30.87751,-84.20214,US,P,9752
90,First_Iraqi_case_of_Avian_Flu_reported,Ranya,36.25,44.88,24,"36.25,44.88",IQ,575,-9.66913,-76.67248,PE,P,29
141,Gaza_Strip_reports_first_swine_flu_cases,Egypt,26.00,30.00,40,"26,30",EG,645,-29.16765,26.95681,ZA,P,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1075,Meteorite_blamed_for_mysterious_illness_in_Peru,Desaguadero,-16.56,-69.03,218,"-16.56,-69.03",BO,233,-16.56556,-69.04167,PE,P,5329
1077,Meteorite_blamed_for_mysterious_illness_in_Peru,London,51.50,-0.12,218,"51.50,-0.12",GB,231,39.88645,-83.44825,US,P,10060
1084,"Former_Russian_spy_Litvinenko_dies,_radioactiv...",Britain,55.00,-3.00,221,"55,-3",GB,1019,39.25288,-77.69694,US,P,0
1085,"Former_Russian_spy_Litvinenko_dies,_radioactiv...",Moscow,55.75,37.61,221,"55.75,37.61",RU,1024,46.73239,-117.00017,US,P,25060
1096,PM_of_Georgia_dies_of_gas_poisoning,Georgia,42.00,43.50,224,"42,43.5",GE,160,32.75042,-83.50018,US,A,8975842

In [20]:
noidentique = noidentique.drop_duplicates(subset=['source','name','lat_x','lng_x','lat_y',	'lng_y'], keep='first')

In [21]:
noidentique.to_csv('../error/noidentique.csv', index = False)